.vision {
  text-align: center;
  .vision-box {
    background-image: url(../../../bg-image/background03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vision-text {
    text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff,
      -2px -2px 2px #fff;
    color: #d4145a;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 300px;
    line-height: 300%;
    font-size: 1.2em;
    margin-left: 8%;
    margin-right: 8%;
  }
}
